@font-face {
    font-family: "ClockFont";
    src: url(../../fonts/RobotoMono-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

.clock {
    font-family: 'ClockFont', sans-serif;
    font-size: 150px;
    color :#bcbdac;
    display: flex;
}

.second {
    font-size: 70px;
    color :rgb(153, 147, 147);
    align-self: flex-end;
    margin-bottom: 25px;
    margin-left: 20px;
}